
:root{
    --main-color: white;
    --font-tittle: 'K2D', sans-serif; 
}

main{
    color: var(--main-color);
}
.tabla{
    margin: 2%;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    color: white;
}
tr:hover {
  text-decoration: underline; 
}
.container{
display: flex;
justify-content: flex-end;
height: 15px;
width: 150px;
}

.div-input{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f0f0f0; 
    border-radius: 35px; /* Rounded corners */
    padding: 10px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Input styling */
.input {
    border: none;
    outline: none;
    background: none; /* Transparent background */
    font-size: 20px;
    width: 100%;
    margin-right: 10px; /* Space between input and icon */
    color: #333; /* Text color */
}

/* Icon styling */
.search-icon {
    font-size: 25px;
    color: #666; /* Icon color */
}

/* Adjust focus on input */
.input:focus {
    outline: none;
}

/* Hover effect for container */
.div-container:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}



