:root{
  --main-shadow:  0 0 5px rgba(0, 0, 0, 0.5);  
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
   background: linear-gradient(rgba(7, 9, 168, 1), rgba(0, 85, 192, 1));;
}

/* .header-content{
    display: inline
} */

.logo-titulo {
    display: flex;
    align-items: center;
}

#logo {
    margin-right: 20px;
    margin-left: 5%;
}

.div-titulo {
    display: flex;
    justify-content: center;  
    margin-bottom: 2%;
}


.titulo {
    font-family: 'K2D', sans-serif; 
    color: rgb(255, 255, 255); 
    font-size: 50px;
    margin-left: 20px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin: 0 15px;
}

.image-user {
    display: flex;
    justify-content: flex-end;
    top: 6%; 
    width: 100px;  
    height: 100px;
  }
  
 .image-user img {
    width: 100%;
    height: 100%;
    border-radius: 100%;  
    border: 2px solid #fff;  
    box-shadow: var(--main-shadow);
  }

  #profile-image:hover{
   cursor: pointer;
   /* una sombra aca */
}


 
@media (min-width: 768px) {
    header{
        padding: 30px ;
    }
    footer {
        padding: 30px;
    }
    .footer-links a {
        margin: 0 15px;
    }
}

@media (max-width: 768px) {
    .titulo{
        font-size: 40px;
    }
    .textLi{ 
        font-size: 12px;
    }
}


