:root {
    --header-padding: 7px 0;
    --carousel-width: 80%;
    --carousel-height: 350px;
    --carousel-margin-top: 2%;
    --control-bg-color: rgba(0, 0, 0, 0.5);
    --control-hover-bg-color: rgba(0, 0, 0, 0.8);
    --welcome-bg-color: #fff;
    --welcome-padding: 20px;
    --welcome-max-width: 800px;
    --welcome-shadow: 0 0 10px rgba(0,0,0,0.1);
    --welcome-btn-bg-color: #3C6975;
    --welcome-btn-hover-bg-color: #224149;
    --transition-time: 1s ease;
    --box-shadow-hover: 0 4px 8px var(--welcome-btn-bg-color);
    --box-hover-scale: 1.1;
    --transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Header */
header {
    /* position: sticky; */
    top: 0;
    z-index: 1000; 
    padding: var(--header-padding);
}

/* Carousel */
.carousel {
    width: var(--carousel-width);
    height: var(--carousel-height);
    margin-top: var(--carousel-margin-top);
    overflow: hidden;
    position: relative;
    margin: auto;
}

.carousel-inner {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
}

/* Colors for carousel items using variables */
.color1 { background-color:rgb(50, 151, 146);}
.color2 { background-color: rgb(71, 160, 71);; }
.color3 { background-color:  rgb(122, 122, 185); }
.color4 { background-color:  rgb(241, 203, 131);}
.color5 { background-color:  rgb(187, 59, 187); }

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.control {
    background-color: var(--control-bg-color);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.control:hover {
    background-color: var(--control-hover-bg-color);
}

/* Main Content */
.welcome {
    margin-top: var(--carousel-margin-top);
    padding: var(--welcome-padding);
    text-align: center;
    background-color: var(--welcome-bg-color);
    margin: 20px auto;
    max-width: var(--welcome-max-width);
    box-shadow: var(--welcome-shadow);
}
.welcome:hover{
box-shadow:  var(--box-shadow-hover);
transform: scale(var(--box-hover-scale));
transition: var(--transition);
}

.welcome h1 {
    margin-bottom: 20px;
}

.welcome p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.welcome-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: var(--welcome-btn-bg-color); 
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.welcome-button:hover {
    background-color: var(--welcome-btn-hover-bg-color); 
    padding: 12px 22px;
}

